<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<div class="cadastro">
    <div class="div_form">
        <h1 class="titulo_cad">Cadastrar</h1>
        <form action="/cadastrar" method="post" class="form_cadastro">
            <input type="text" id="nome" name="nome" required class="seletor_text" placeholder="Digite seu nome de usuário"><br><br>
            <input type="text" id="apelido" name="apelido" required class="seletor_text" placeholder="Digite seu apelido"><br><br>
            <input type="date" id="data_nascimento" name="data_nascimento" required class="seletor_text" placeholder="Digite sua data de nascimento"><br><br>
            <input type="text" id="cep" name="cep" required class="seletor_text" placeholder="Digite seu cep" pattern="\d{5}-\d{3}" title="Digite um CEP válido no formato XXXXX-XXX"><br><br>
            <input type="password" id="senha" name="senha" required class="seletor_text" placeholder="Digite sua senha" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" title="A senha deve conter pelo menos 8 caracteres, incluindo uma letra maiúscula, uma letra minúscula, um número e um caractere especial"><br><br>
            <input type="submit" value="Cadastrar" class="bt_cadastrar">
        </form>
    </div>
    <div class="corpo">
        <div class="conj_text">
            <a class="text">Home</a>
            <a class="text">Fale Conosco</a>
            <a class="text">Entrar</a>
        </div>
        <div class="div_image">
            <a class="conj_text_titulo">Help <br> Hand</a>
            <img src="assets/maozinha.png">
        </div> 
    </div>
</div>
